@{
    ViewData["Title"] = "About this Web App";
}
<h1>@ViewData["Title"]</h1>

    <p>Tech used for building this Web App</p>
     
     <ul>

        <li>Last updated: 15-09-2025</li>
        <li>.NET 8 Web Application</li>
        <li>ASP.NET Core with CRUD functionality of Employees</li>
        <li>MS SQL as Database</li>
        <li>Entity Framework Core as ORM</li>
        <li>MVC design pattern as software architecture pattern</li>
        <li>Bootstrap for making the Web App mobile friendly</li>
        <li>Traditional Webhotel for hosting</li> 
        <li>VS Code</li>


     </ul>

