@{
    ViewData["Title"] = "Home Page";
}


<h1>Hello, World!</h1>

<p><div class="test">And this is <b>only</b> the beginning ...</div></p>

<br/>

<p><h3>Welcome :-)</h3></p>

<table style="height: 150px;">
    <tr>
        <td>
           <div style="align:right;color:#512bd4;"><h2>ASP.NET Core</h2></div>
        </td>
        <td><div style="align:left;color:green;"><h2>&nbsp;+&nbsp;</h2></div></td>
        <td>
           <div style="color:gray;"><h2>Employees</h2></div>
        </td>
     </tr>
</table>

<br />

<p>Discover the Tech used for building this ASP.NET Core MVC Web App ...</p>