@{
    ViewData["Title"] = "Home Page";
}


<h1>Hello, World!</h1>

<p><div class="test">And this is <b>only</b> the beginning ...</div></p>

<br/>

<p><h3>Welcome :-)</h3></p>

<table>
    <tr>
        <td style="height: 150px">
           <div style="color: #512bd4;"><h1>ASP.NET Core</h1></div>
        </td>
        <td><div style="color: green"><h2>&nbsp;+&nbsp;</h2></div></td>
        <td>
           <div style="color: gray"><h2>CRUD of Employees</h2></div>
        </td>
     </tr>
</table>

<br />

<p>Discover the Tech used for building this ASP.NET Core MVC Web App ...</p>